<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>
<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>
<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>

<li class='gallery-item-card'>
  <div class='poster-container'>
    <img
      class='poster'
      src='https://lh3.googleusercontent.com/proxy/4gXqShCnuQtRGUpbon0nQ8G0eG-CoW6_L3jHvB1tLBuI4CzKz2cE1043wmp31-OoXe8yT7CgKiAmHtN0q7IZ8TTSczGrHxoK0NkAJZsTTr6pXtrItYr5kyY42DXR1veUNWdtNVJElDic'
      alt='Poster-film'
    />
  </div>
  <div class='text-container'>
    <h2 class='text-title'>AQUARELA</h2>
    <p class='text-ganre'>Documentary, Drama, Other | 2019</p>
  </div>
</li>