<li class='item-card'>
  <div class='grid-poster'>
    <img
      class='img-style'
      src='https://superpuff.ru/files/uploads/Poster_palm_01.jpg'
      alt='Poster-film'
    />
  </div>

  <h2>Заголовок</h2>
  <p>Жанр</p>
</li>
<li class='item-card'>
  <div class='grid-poster'>
    <img
      src='https://superpuff.ru/files/uploads/Poster_palm_01.jpg'
      alt='Poster-film'
      class='img-style'
    />
  </div>

  <h2>Заголовок</h2>
  <p>Жанр</p>
</li>
<li class='item-card'>
  <div class='grid-poster'>
    <img
      src='https://superpuff.ru/files/uploads/Poster_palm_01.jpg'
      alt='Poster-film'
      class='img-style'
    />
  </div>

  <h2>Заголовок</h2>
  <p>Жанр</p>
</li>
<li class='item-card'>
  <div class='grid-poster'>
    <img
      alt='Poster-film'
      class='img-style'
      src='https://superpuff.ru/files/uploads/Poster_palm_01.jpg'
    />
  </div>

  <h2>Заголовок</h2>
  <p>Жанр</p>
</li>
<li class='item-card'>
  <div class='grid-poster'>
    <img
      src='https://superpuff.ru/files/uploads/Poster_palm_01.jpg'
      alt='Poster-film'
      class='img-style'
    />
  </div>
  <h2>Заголовок</h2>
  <p>Жанр</p>
</li>
<li class='item-card'>
  <div class='grid-poster'>
    <img
      src='https://superpuff.ru/files/uploads/Poster_palm_01.jpg'
      alt='Poster-film'
      class='img-style'
    />
  </div>
  <h2>Заголовок</h2>
  <p>Жанр</p>
</li>