<form class='form-container'>
  <input
    id='elem1'
    type='text'
    placeholder='Поиск фильмов'
    class='js-input search-input'
    name='query'
  />
  <svg class='search-icon' width='12' height='12'>
    <use href='/images/symbol-defs.svg#icon-search'></use>
  </svg>
</form>