{{!-- <div class='library-bgc-container'>
  <div class='container main-container library-container'>
    <div class='header-box'>
      <a href='' class='logo'>
        <svg class='logo-icon' width='24' height='24' viewBox='0 0 32 32'>
          {{! <use href='/images/symbol-defs.svg#icon-film'></use> }}
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M26.427 2.667h-20.853c-1.605 0-2.907 1.301-2.907 2.907v20.853c0 1.605 1.301 2.907 2.907 2.907h20.853c1.605 0 2.907-1.301 2.907-2.907v-20.853c0-1.605-1.301-2.907-2.907-2.907z'
          ></path><path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M9.333 2.667v26.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M22.667 2.667v26.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M2.667 16h26.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M2.667 9.333h6.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M2.667 22.667h6.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M22.667 22.667h6.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M22.667 9.333h6.667'
          ></path>

        </svg>
        <span class='logo-text'>Filmoteka</span>
      </a>
      <nav>
        <ul class='nav-list'>
          <li class='nav-item item-home'><a href='./index.html' class='link js-home'>Home</a></li>
          {{! при нажатии отрисовывается шаблон }}
          <li class='nav-item item-library current'><a href='/' class='link js-library'>my library</a></li>
        </ul>
      </nav>
    </div>
    <ul class='header-button-list'>
      <li class='header-button-item'><button class='button-tpl button-orange'>Watched</button></li>
      <li class='header-button-item'><button
          class='button-tpl button-transparent'
        >queue</button></li>
    </ul>
  </div>
</div> --}}

{{! #2 }}
<ul class='header-button-list js-header-btn'>
  <li class='header-button-item'><button
      class='button button-tpl js-watched-btn'
      data-btn='watched'
    >Watched</button></li>
  <li class='header-button-item'><button
      class='button button-tpl js-watched-que'
      data-btn='queue'
    >queue</button></li>
</ul>