<div class='library-bgc-container'>
  <div class='container library-container'>
    <div class='header-box'>
      <div class='logo-box'>
        <svg class='logo-icon' width='24' height='24' viewBox='0 0 32 32'>
          {{! <use href='/images/symbol-defs.svg#icon-film'></use> }}
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M26.427 2.667h-20.853c-1.605 0-2.907 1.301-2.907 2.907v20.853c0 1.605 1.301 2.907 2.907 2.907h20.853c1.605 0 2.907-1.301 2.907-2.907v-20.853c0-1.605-1.301-2.907-2.907-2.907z'
          ></path><path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M9.333 2.667v26.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M22.667 2.667v26.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M2.667 16h26.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M2.667 9.333h6.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M2.667 22.667h6.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M22.667 22.667h6.667'
          ></path>
          <path
            fill='none'
            stroke='#818181'
            style='stroke: var(--color1, #818181)'
            stroke-linejoin='round'
            stroke-linecap='round'
            stroke-miterlimit='4'
            stroke-width='2.6667'
            d='M22.667 9.333h6.667'
          ></path>

        </svg>
        <a href='' class='logo'><span class='logo-text'>Filmoteka</span></a>
      </div>
      <nav>
        <!-- current -->
        <a href='./index.html' class='link'>Home</a>
        <a class='link js-library'>my library</a>
      </nav>
    </div>
    <div class='button-container'>
      <button class='button watched'>Watched</button>
      <button class='button qweqwe'>queue</button>
    </div>
  </div>
</div>