ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;

  margin: 0;
  padding: 0 0 115px 0;

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
