<section class="section">
  <div class="main-container gallery-container">
    <ul class="gallery" id="gallery">
      <!-- Список li с карточками изображений -->
      <!-- <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li>
        <li class="gallery-item-card">
          <div class="poster-container">
            <img
              class="poster"
              src="https://fs.kinomania.ru/file/film_poster/4/e4/4e41d549faa224ee50aa7307c48adf19.jpeg"
              alt="Poster-film"
            />
          </div>
          <div class="text-container">
            <h2 class="text-title">Harry Potter</h2>
            <p class="text-ganre">Drama, Other | 2019</p>
          </div>
        </li> -->
    </ul>
  </div>
</section>