<header class="page-header">
  <div class="home-bgc-container" id="home">
    <div class="header-container main-container home-container" id="home-container">
      <div class="header-box">
        <a href="./index.html" class="logo">
          <svg class="logo-icon" width="24" height="24">
            <use href="/images/symbol-defs.svg#icon-film"></use>
          </svg>
          <span class="logo-text">Filmoteka</span>
        </a>
        <nav class="header-nav">
          <!-- current -->
          <button type="button" class="sing_in" data-action="Sind-In">Sign In</button>
          <ul class="header-nav-list">
            <li class="header-nav-item item-home current">
              <a href="./index.html" class="link js-home">Home</a>
            </li>
            <li class="header-nav-item item-library">
              <a href="/" class="link js-library nav-link">my library</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="form-container">
        <input
          id="elem1"
          type="text"
          placeholder="Поиск фильмов"
          class="js-input search-input"
          name="query"
        />
        <svg class="search-icon" width="12" height="12">
          <use href="/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
