<header class="page-header">
  <div class="home-bgc-container" id="home">
    <div class="container home-container">
      <div class="header-box">
        <div class="logo-box">
          <svg class="logo-icon" width="24" height="24">
            <use href="/images/symbol-defs.svg#icon-film"></use>
          </svg>
          <a href="./index.html" class="logo"><span class="logo-text">Filmoteka</span></a>
        </div>
        <nav>
          <!-- current -->
          <a href="./index.html" class="link">Home</a>
          <a href="/" class="link js-library">my library</a>
        </nav>
      </div>
      <div class="form-container">
        <form class="search-form">
          <input
            id="elem1"
            type="text"
            placeholder="Поиск фильмов"
            class="js-input search-input"
            name="query"
          />
        </form>
        <svg class="search-icon" width="12" height="12">
          <use href="/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
