<div class="formRegistr">
  <h1 class="account_login">Account Login</h1>
  <label class="control_label" for="email">Email:</label>
  <input
    class="input_registr"
    type="email"
    name="query"
    id="email"
    placeholder="Введите почту..."
    width="300px"
    height=""
  />
  <label class="control_label" for="password">Pass:</label>
  <input
    class="input_registr"
    type="text"
    name="query"
    id="password"
    placeholder="Введите пароль..."
  />
  <!-- <p class="control_pass"><< краткий пароль >></p> -->
  <div class="buttonRegister">
    <button class="btn watched" data-action="registerIn">sign in</button>
    <button class="btn qweqwe" data-action="registerUp">sign up</button>
  </div>
</div>
