<section class="pagination js-pagination">
    <div class="main-container">
        <nav aria-label="page-navigation">
            <div class="page-nav-container">
                <ul class="pagination-list">
                    <li class="page-item disabled arrow-btn">
                        <a class="page-link" href="#" tabindex="-1">
                            <svg class="icon pagination-arrow-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-arrow-left2"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-item" id="to-hide"><a class="page-link wide-version" href="#">1</a></li>
                    <li class="page-item" id="to-hide"> <span class="page-link nav-dots">...</span> </li>
                    <li class="page-item"><a class="page-link" href="#">13</a></li>
                    <li class="page-item"><a class="page-link" href="#">14</a></li>
                    <li class="page-item active"><a class="page-link" href="#">15</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#">17</a></li>
                    <li class="page-item" id="to-hide"> <span class="page-link nav-dots">...</span> </li>
                    <li class="page-item" id="to-hide"><a class="page-link wide-version" href="#">20</a></li>
                    <li class="page-item arrow-btn">
                        <a class="page-link" href="#">
                            <svg class="icon pagination-arrow-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>