.footer {
  width: 100%;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 36px;

  text-align: center;

  color: $footer-text-color;
  background-color: $sec-color;

  @media screen and (min-width: 480px) {
    padding-top: 30px;
    padding-bottom: 28px;

    font-size: 16px;
    line-height: 1.19;
  }

  &__link {
    padding: 15px 0;
    text-decoration: underline;
    color: $footer-text-color;
  }
}
