.footer {
  width: 100%;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 36px;

  text-align: center;

  background-color: $sec-color;

  @media screen and (min-width: 480px) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}
