html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.section {
  width: 100%;
}
.gallery-container {
  width: 320px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .gallery-container {
    width: 768px;
    padding: 40px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery-container {
    width: 1024px;
    padding-left: 56px;
    padding-right: 56px;
  }
}
.gallery {
  display: grid;
  outline: 1px solid tomato;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery-item-card {
  width: 280px;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .gallery-item-card {
    width: 294px;
    margin: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .gallery-item-card {
    width: 274px;
  }
}
/* .poster-container {
}
.poster {
}
.text-container {
} */
.text-title {
  font-size: 12;
  margin-top: 10px;
}
.gallery-item-card {
  outline: 1px solid tomato;
}
.text-ganre {
  margin-top: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: rgb(229, 16, 16);
}
/* .gallery-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1024px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
} */