.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
}
.pagination-list {
  display: flex;
}
.page-navigation {
  display: flex;
}
.page-nav-container {
  display: flex;
  justify-content: center;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.page-item.active {
  background-color: $accent-color;
}

.page-item.arrow-btn {
  background-color: $sec-color;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #000;
}

.pagination-arrow-icon {
  width: 16px;
  height: 16px;
}

.page-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: $sec-font-weight;
  font-size: $sec-font-size;
  line-height: 16px;
}
