.main-container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  text-transform: uppercase;
  cursor: pointer;

  color: $main-white-color;
  background-color: transparent;
  border: 2px solid $main-white-color;
  border-radius: 5px;

  font-size: $sec-font-size;
  font-weight: $sec-font-weight;
  line-height: $sec-line-height;

  &:hover,
  &:focus,
  &-active {
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
    background-color: $accent-color;
    border-color: transparent;
  }

  @include transition(box-shadow, background-color);
}

.button-orange {
  background-color: $accent-color;
  border-color: transparent;
}
